<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
    <select id="selectUserListByUnum" parameterType="com.qf.pojo.TbUser" resultType="com.qf.pojo.TbUser">
        select * from tb_user where unum= #{unum} AND userpassword=#{userpassword}
    </select>
</mapper>